In [1]:
import pandas as pd

## Reading CSV

In [4]:
# Skipping extra headers
df = pd.read_csv('stocks_Data.csv', skiprows=1)
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [7]:
# inserting headers

df = pd.read_csv('stocks_Data.csv', header=None, names=['tickers', 'eps', 'revenue', 'price', 'people'])
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [8]:
# deciding number of rows to read

df = pd.read_csv('stocks_Data.csv', nrows = 3)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [14]:
# Normalizing NA values with a common name

df = pd.read_csv('stocks_Data.csv', na_values={
    'eps': ['not available', 'n.a.'],
    'revenue': ['not available', 'n.a.', -1],
    'people': ['not available', 'n.a.'],
    'price': ['not available', 'n.a.']
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

## Writing In CSV

In [16]:
df.to_csv('new.csv', index = False)

In [17]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [21]:
# Adding specific columns to csv file

df.to_csv('new.csv', index = False, columns=['tickers', 'eps'])

In [23]:
# Without HEaders

df.to_csv('new.csv',header = False)

## Reading Excel

In [26]:
df = pd.read_excel('stocks_Data.xlsx', 'stocks_Data')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [31]:
# Converting NA values, cell by cell

def convert_people_cell(cell):
    if cell =='n.a.':
        return 'sam walton'
    return cell


def convert_eps_Cell(cell):
    if cell == 'not available':
        return None
    return cell


def convert_price_Cell(cell):
    if cell == 'n.a.':
        return None
    return cell

df = pd.read_excel('stocks_Data.xlsx', 'stocks_Data', converters={
    'people': convert_people_cell,
    'eps': convert_eps_Cell,
    'price': convert_price_Cell
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0     sam walton
2    MSFT  -1.00       85    64.0     bill gates
3     RIL    NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

## Writing in Excel

In [34]:
df.to_excel('new.xlsx', 'stock', index=False)

In [36]:
# Adding Extra cols and rows in start

df.to_excel('new.xlsx', 'stock', index=False, startrow=1, startcol=2)

In [37]:
# Writing Two Dataframes into separate Excel file.

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [39]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks", index=False) # sheet 1
    df_weather.to_excel(writer, sheet_name="weather", index = False) # sheet 2